/*********************************************
* NAVIGATION CONTROLS OVERRIDE
*********************************************/
.reveal .controls {
  color: #bb86fc;
}

/*********************************************
* PROGRESS BAR OVERRIDE
*********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #bb86fc;
}

.title-text {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
}